body,
html {
  display: flex;
  background-color: lightblue;
  height: 100%;
  justify-content: center;
}

.App {
  min-width: 300px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  background-color: rgb(34, 171, 216);
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  padding-top: 30px;
}
